<div class="post">
    <div class="post-header">
        <div class="post-header-text">
            <span class="title">{{this.title}}</span>
            <span class="date">{{this.date}}</span>
        </div>
    </div>
    <hr>
    <div class="post-content">
        <span class="post-text">{{this.text}}</span>
    </div>
    <div class="post-footer">

    </div>
</div>