<div class="post">
    <div class="post-header">
        <img src="" alt="">
        <div class="post-header-text">
            <span>{{this.title}}</span>
            <span>{{this.date}}</span>
        </div>
    </div>
    <div class="post-content">
        <span class="post-text">{{this.text}}</span>
    </div>
    <div class="post-footer">

    </div>
</div>