.post {
    margin-bottom: 2rem;
    width: 70%;
    background-color: #1F1F1F;
    border-radius: .7rem;
    padding: 1rem;
    color: white;
}

.post-header-text {
    display: flex;
    flex-direction: column;
}