.post {
    margin-bottom: 2rem;
    width: 70%;
    background-color: #1F1F1F;
    border-radius: .7rem;
    color: white;
}

.post-header-text {
    display: flex;
    flex-direction: column;
}

.post-footer {
    min-height: 3rem;
}