.post {
    margin-bottom: 1.5rem;
    background-color: var(--second-bg-color);
    border-radius: .7rem;
    color: var(--main-text-color);
    border: .05rem solid rgba(255, 255, 255, 0.5);
    margin-bottom: 1rem;
    margin-left: 2rem;
    max-width: 100%;
    width: 42rem;
    &:first-child {
        margin-top: 2rem;
    }

    &__header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: left;
        padding-left: .7rem;
        padding-right: 1.5rem;

        &-text {
            display: flex;
            flex-direction: column;
            padding: 1rem .3rem;
            width: 100%;
        }
    }
    &__title {
        font-weight: bold;
    }
    &__date {
        font-size: .8rem;
    }
    &__content {
        padding: 1rem;
        padding-bottom: unset;
        display: flex;
        flex-direction: column;
        &-text {
            padding-left: .2rem;
            margin-bottom: .8rem;
            white-space: pre-line;
            max-width: 100%;
            overflow-wrap: break-word;
            overflow: hidden;
        }
        &-image {
            border-radius: 10rem;
            img {
                border-radius: 1rem;
                width: 100%;
                height: auto;
            }
            width: 100%;
            height: auto;
        }
    }
    &__header-avatar {
        height: 4rem;
        width: 4rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__header-edit {
        height: 1.9rem;
        width: 1.9rem;
        margin-right: .8rem;
        svg {
            &:hover path {
                stroke: var(--main-color); 
            }
            &:active path{
                stroke: var(--main-text-color);
            }
        }
    }
    &__header-delete {
        height: 2rem;
        width: 2rem;
        svg {
            &:hover path {
                stroke: var(--negative-color); 
                fill: var(--negative-color); 
            }
            &:active path{
                stroke: var(--main-text-color);
                fill: var(--main-text-color); 
            }
        }
    }
    &__avatar {
        height: 3rem;
        width: 3rem;
    }
    &__footer {
        display: flex;
    }
    &__like {
        display: flex;
        align-items: center;
        &-button {
            width: 1.5rem;
            height: 1.5rem;
            margin: 1rem;
            svg {
                cursor: pointer;
                &:hover {
                    path {
                        fill: var(--main-color);  
                        stroke: var(--main-color);
                    }
                }
                &:active path {
                    fill: var(--main-text-color);
                    stroke: var(--main-text-color);
                }
            }
            &_liked {
                svg path {
                    fill: var(--main-color);
                    stroke: var(--main-color);
                }
            }
        }
    }
    &__comment {
        display: flex;
        align-items: center;
        &-button {
            width: 1.5rem;
            height: 1.5rem;
            margin: 1rem;
            svg {
                cursor: pointer;
                &:hover {
                    path {
                        fill: var(--main-color);
                        stroke: var(--main-color);
                    }
                }
                &:active {
                    path {
                        fill: var(--main-text-color);
                        stroke: var(--main-text-color);
                    }
                }
            }
        }
        &_hidden {
            display: none;
        }
    }
    &__comments {
        border-top: var(--border);
    }
}

.header-text {
    margin-bottom: .3rem;
}
