.post {
    margin-bottom: 1.5rem;
    background-color: var(--second-bg-color);
    border-radius: .7rem;
    color: var(--main-text-color);
    border: .5px solid rgba(255, 255, 255, 0.5);
    margin-bottom: 1rem;
    margin-left: 2rem;
    max-width: 42rem;
    width: 42rem;
    &:first-child {
        margin-top: 2rem;
    }

    &__header {
        display: flex;
        flex-direction: row;
        justify-content: left;
        padding-left: .3rem;

        &-text {
            display: flex;
            flex-direction: column;
            padding: 1rem .3rem;
        }
    }
    &__title {
        font-weight: bold;
    }
    &__date {
        font-size: .8rem;
    }
    &__content {
        padding: 1rem;
        &-text {
            white-space: pre-line;
        }
    }
    &__header-avatar {
        height: 4rem;
        width: 4rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__avatar {
        height: 3rem;
        width: 3rem;
    }
}

.header-text {
    margin-bottom: .3rem;
}

