.post {
    margin-bottom: 2rem;
    width: 70%;
    background-color: var(--second-bg-color);
    border-radius: .7rem;
    color: var(--main-text-color);
}

.post-header-text {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.post-header-text span {
    margin-bottom: .3rem;
}

.post-header-text .date {
    font-size: .8rem;
}

.post-header-text .title {
    font-weight: bold;
}

.post-content {
    padding: 1rem;
}

.post-text {
    white-space: pre-line;
}

.post hr {
    border: none;
    border-top: 1px solid #E2E8F0;
    opacity: 0.5;
    padding: 0;
    margin: 0;
}
