.content-message {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    &__text {
        &_error {
            color: red;
        }
    }
}
