<div class="chat-message" data-key="{{this.key}}">
    <div class="chat-message__avatar">
        <img class="avatar" src="{{this.messageAvatar}}" alt="">
    </div>
    <div class="chat-message__content">
        <div class="chat-message__name">
            <a class="chat-message__link" href="#">{{this.messageName}}</a>
        </div>
        <div class="chat-message__text">
            {{this.messageText}}
        </div>
    </div>
</div>
