.loader {
    border: 1rem solid var(--main-color);
    border-top: 1rem solid var(--main-bg-color);
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    animation: spin 2s linear infinite;
    &-hide {
        display: none;
    } 
}

@keyframes spin {
    0% {transform: rotate(0 deg);}
    100% {transform: rotate(360 deg);}
}
