<div class="csat" data-key="{{this.key}}">
    <div class="csat__header">
        <button class="csat__close-button"></button>
    </div>
    <div class="csat__content">
        <iframe src="{{this.src}}" frameborder="0"></iframe>
    </div>
</div>
