<div class="csat {{#unless this.show}}csat_hidden{{/unless}}" data-key="{{this.key}}">
    <div class="csat__header">
        <button class="csat__close-button btn">Закрыть</button>
    </div>
    <div class="csat__content">
        <iframe class="csat__iframe" src="{{this.src}}" frameborder="0"></iframe>
    </div>
</div>
