<form action="" class="sender send-post">
    <textarea class="sender__input" type="text" placeholder="Write your message.."></textarea>
    <button class="sender__send button-no-decorations">
        <svg viewBox="0 0 40 40" fill="none">
            <rect x="0.5" y="0.5" width="39" height="39" rx="19.5" stroke="#1DC67F"/>
            <path d="M29.9249 18.3575L14.1692 9.36691C13.837 9.18083 13.4561 9.10029 13.077 9.13602C12.6979 9.17174 12.3387 9.32203 12.0471 9.5669C11.7555 9.81177 11.5454 10.1396 11.4447 10.5068C11.344 10.874 11.3574 11.2632 11.4833 11.6225L14.3127 20L11.4833 28.3775C11.3838 28.6602 11.3535 28.9625 11.395 29.2592C11.4364 29.556 11.5483 29.8385 11.7214 30.0831C11.8944 30.3276 12.1236 30.5272 12.3896 30.665C12.6557 30.8028 12.9509 30.8748 13.2505 30.875C13.5727 30.8744 13.8893 30.7911 14.1702 30.6332L14.1786 30.6275L29.9286 21.621C30.2174 21.4575 30.4576 21.2203 30.6248 20.9337C30.7919 20.647 30.88 20.3211 30.88 19.9893C30.88 19.6574 30.7919 19.3315 30.6248 19.0449C30.4576 18.7582 30.2174 18.521 29.9286 18.3575H29.9249ZM13.9246 28.1807L16.3077 21.125H21.5005C21.7989 21.125 22.085 21.0065 22.296 20.7955C22.507 20.5846 22.6255 20.2984 22.6255 20C22.6255 19.7017 22.507 19.4155 22.296 19.2045C22.085 18.9936 21.7989 18.875 21.5005 18.875H16.3077L13.9236 11.8175L28.2449 19.9897L13.9246 28.1807Z" fill="#1DC67F"/>
        </svg>
    </button>
</form>