@use 'components/Menu/Menu';
@use 'components/Header/Header';
@use 'components/Input/Input';
@use 'components/BaseForm/BaseForm';
@use 'components/Post/Post';
@use 'components/FormLink/FormLink';
@use 'components/ContentMessage/ContentMessage';
@use 'components/Content/Content';
@use 'components/Friend/Friend';

html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Plus Jakarta Sans", sans-serif;
    background-color: var(--main-bg-color);
    font-style: normal;

    --main-bg-color: #121212;
    --second-bg-color: #1F1F1F;
    --main-color: #1DC67F;
    --main-text-color: #FFFFFF;
    --button-color: #25AD74;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#root {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 100%;
    min-height: 100vh;
    min-width: 100%;
    color: var(--main-text-color);
    font-style: normal;
}

.main {
    width: 77.4%;
}

.link {
    text-decoration: none;
    color: var(--main-text-color);
    &:hover {
        color: var(--main-color);
    }
}

.title {
    text-decoration: none;
    color: var(--main-color);
    h1 {
        margin: 0;
    }
}

.avatar {
    border-radius: 10rem; 
}

hr {
    border: none;
    border-top: 1px solid #E2E8F0;
    opacity: 0.5;
    padding: 0;
    margin: 0;
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__error {
        color: red;
        margin-bottom: 1rem;
    }
}

.item {
    background-color: #1F1F1F;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: .5px solid rgba(255, 255, 255, 0.5);
    border-radius: 1.5rem;
    width: 70%;
    height: 6rem;
    padding: .5rem 1rem;
    box-sizing: border-box;
    &__img {
        display: flex;
        align-items: center;
        height: 100%;
        width: auto;
        margin-right: .6rem;
        padding: .15rem;
        box-sizing: border-box;
        img {
            height: 100%;
            width: auto;
        }
    }
    &__info {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        box-sizing: border-box;
    }
}