@import url(components/Menu/Menu.css);
@import url(components/Header/Header.css);
@import url(components/SignupForm/SignupForm.css);
@import url(components/Input/Input.css);
@import url(components/FormButton/FormButton.css);
@import url(components/LoginForm/LoginForm.css);
@import url(components/Post/Post.css);
@import url(components/FormLink/FormLink.css);
@import url(components/ContentMessage/ContentMessage.css);


html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-style: normal;
    background-color: var(--main-bg-color);

    --main-bg-color: #121212;
    --second-bg-color: #1F1F1F;
    --main-color: #1DC67F;
    --main-text-color: #FFFFFF;
    --button-color: #25AD74;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#root {
    /* display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
        "menu header"
        "menu content";
    height: 100vh; */

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    height: 100%;
    min-height: 100vh;
    min-width: 100%;
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    font-style: normal;
}

.main {
    width: 77.4%;
}
