@import url(components/Menu/Menu.css);
@import url(components/Header/Header.css);

body {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
}

#root {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.main {
    display: grid;
    grid-template-areas: 
        "header header"
        "content aside";
    grid-template-columns: 30rem;
    width: 100%;
}

.aside {
    /* width: 100vw; */
    max-width: 100%;
    box-sizing: border-box;
    background-color: red;
}