.friend {
    margin-bottom: 1rem;
    margin-left: 2rem;
    max-width: 90%;
    width: 42rem;
    &:first-child {
        margin-top: 2rem;
    }
    &__state {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: end;
        height: 100%;
        width: 50%;
    }
    &__link {
        color: var(--main-color)
    }
}