<div class="emoji-block" data-key="emoji-block"></div>
    <button class="emoji-button">😂</button>
    <button class="emoji-button">😂</button>
    <button class="emoji-button">😂</button>
    <button class="emoji-button">😂</button>
    <button class="emoji-button">😂</button>
    <button class="emoji-button">😂</button>
    <button class="emoji-button">😂</button>
</div>
