<div class="edit-profile-form">
    <h2 class="edit-profile-form__title">Редактировать профиль</h2>
    <form method="post" class="form" id="formEditProfile">
        {{#each textAreas}}
            {{{this}}}
        {{/each}}
        {{#each inputs}}
            {{{this}}}
        {{/each}}
        <span class="form__error">
            {{{error}}}
        </span>
        {{{button}}}
    </form>
</div>