<div class="group item" data-key="{{this.key}}">
    <div>
        <a class="link-no-decoration group-avatar" href="">
            <img src="{{this.avatar}}" alt="Avatar" class="group__avatar avatar item__img">
        </a>
    </div>
    <div class="group__info item__info">
        <a class="link" href="" data-key="profileLink"><span>{{this.name}}</span></a>
        <span>{{this.description}}</span>
    </div>
    <div class="group__state item__state">
        <button class="subscribe-group button-action-negative button-no-decorations" href="">Подписаться</button>
    </div>
</div>