.chat-attachments-input {
    &__attachments-container {
        display: flex;
        justify-content: start;
        flex-wrap: wrap;
        gap: 0.1rem;
    }
    &__preview {
        width: 15%;
    }
    &__error {
        margin: 0.5rem 0 0 0.5rem;
    }
}