.input-block {
    width: 100%;
    margin-bottom: .7rem;
}
.input-block:last-of-type {
    margin-bottom: 1.5rem;
}

.input-block label {
    color: var(--main-text-color);
    margin-bottom: .25rem;
}

.input-block {
    display: flex;
    flex-direction: column;
}

.input-block input {
    background: none;
    box-shadow: none;
    border: 1.3px var(--main-text-color) solid;
    border-radius: .25rem;
    padding-left: .5rem;
    outline: none;
    margin: 0;           
    font: inherit;
    height: 2rem;
    color: var(--main-text-color);
}

.error {
    color: red;
    font-size: .9rem;
    margin-top: .3rem;
}
