.comment {
    display: flex;
    margin: 1rem;
    &__avatar {
        margin-right: 0.5rem;
        img {
            width: 2.2rem;
            height: 2.2rem;
        }
    }
    &__content {
        max-width: 80%;
    }
    &__header {
        padding-top: 0.1rem;
        margin-bottom: 0.1rem;
    }
    &__name {
        color: var(--main-color);
        text-decoration: none;
        margin-right: 0.5rem;
    }
    &__text {
        overflow-wrap: break-word;
        line-height: 1.5;
        overflow: hidden;
    }
}