<div class="metric">
    <div class="metric__name">
        <span>{{{this.name}}}</span>
    </div>
    <div class="metric__average">
        <span>В среднем пользователи ответили {{this.average}}</span>
    </div>
</div>