.menu-link {
    margin-bottom: 10px;
    background-color: var(--main-bg-color);
    border-radius: 1rem;
    padding: .5rem 1rem;
}

a.menu-link{
    text-decoration: none;
}

.menu-item {
    text-decoration: none;
    color: var(--main-text-color);
}

.menu-link:hover {
    background-color: var(--second-bg-color);
}
.menu-link:hover .menu-item{
    color: var(--main-color);
}