.menu-link {
    margin-bottom: 1rem;
    background-color: var(--main-bg-color);
    border-radius: 5rem;
    padding: .65rem 1rem;
    display: flex;
    align-items: center;
    &__item {
        color: var(--main-text-color);
    }
    &__logo {
        margin-right: .6rem;
        display: flex;
        align-items: center;
        svg {
            fill: var(--main-text-color);
        }
    }
    &:hover {
        background-color: var(--second-bg-color);
        .menu-link__item {
            color: var(--main-color);
        }
        .menu-link__logo svg {
            fill: var(--main-color);
        }
    }

    &:active {
        background-color: var(--main-bg-color);
        .menu-link__item {
            color: var(--main-text-color);
        }
        .menu-link__logo svg {
            fill: var(--main-text-color);
        }
    }
}

.menu-link.link-active {
    background-color: var(--main-bg-color);
    .menu-link__item {
        color: var(--main-text-color);
    }
    .menu-link__logo svg {
        fill: var(--main-text-color);
    }
}

.logo {
    &__profile {
        width: 1.4rem;
        height: 1.4rem;
    }
    &__feed {
        width: 1.4rem;
        height: 1.4rem;
    }
    &__friends {
        width: 1.8rem;
        height: 1.8rem;
    }
    &__messages {
        width: 1.8rem;
        height: 1.8rem;
    }
}