<div class="{{this.className}}">
    <div class="menu-header">
        <div class="title-sign"><a href="/feed"><h1>Vilka</h1></a></div>
    </div>
    <div class="menu-items">
        {{#each links}}
            {{{this}}}
        {{/each}}
    </div>
</div>