<div class="menu" data-key="{{this.key}}">
    <div class="menu__header">
        <div class="menu__title"><a href="{{title.href}}" class="title" data-key="{{title.key}}"><h1>{{title.text}}</h1></a></div>
    </div>
    <div class="menu__items">
    </div>
</div>