.score {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.2rem;
    height: 2.2rem;
    cursor: pointer;
    border-radius: 99rem;
    background: var(--second-bg-color);
    &:hover {
        background: var(--hover-bg-color);
    }
    &:active {
        background: var(--second-bg-color);
    }
    &:focus-visible {
        outline: 1px solid white;
    }
}