<div class="stickers">
    <div class="stickers__header">
        <span>Стикеры</span>
        <button class="button-action button-no-decorations" href="">Добавить стикер</button>
        {{#each stickers}}
            {{{this}}}
        {{/each}}
    </div>
    <div class="stickers__all">
    </div>
</div>