.header {
    position: sticky;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem;
    background-color: var(--main-bg-color);
    z-index: 10;
    border-bottom: .5px solid rgba(255, 255, 255, 0.5);
    height: 4.5rem;
    &__profile {
        display: flex;
        align-items: center;
        height: 1.2rem;
    }

    &__logo {
        margin-right: 1.5rem;
        height: 1.4rem;
        width: 1.4rem;
    }

    &__avatar {
        width: 3rem;
        height: 3rem;
    }

    &__logout {
        &:hover path {
            fill: var(--main-color);
            stroke: var(--main-color); 
        }
        &:active path{
            fill: var(--main-text-color);
            stroke: var(--main-text-color);
        }
    }
    &__search {
        display: flex;
    }
    &__menu-opener {
        margin-left: 2rem;
        height: 1.4rem;
        width: 1.4rem;
        visibility: hidden;
        fill: var(--main-text-color);
        stroke: var(--main-text-color);
        svg {
            &:hover path {
                fill: var(--main-color);
                stroke: var(--main-color); 
            }
            &:active path{
                fill: var(--main-text-color);
                stroke: var(--main-text-color);
            }
        }
    }

    @media (max-width: 1200px) {
        .header__menu-opener {
            visibility: visible;
        }
    }
}

