<div class="header" data-section="{{this.key}}">
    <div class="header-search">
        <input type="text" class="search-input" placeholder="{{this.search.placeholder}}">
        <img src="{{this.search.img}}" alt="поиск">
    </div>
    <div class="header-account">
        <span>{{this.text}}</span>
        <img src="" alt="Выйти">
        <img src="" alt="Avatar">
    </div>
</div>